@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    text-transform: uppercase;
    margin: 40px 0 47px;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    font-weight: 700;
    cursor: default;
}

.game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 99px 153px 105px;
}

.no-clicking {
    pointer-events: none;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 0 17px 34px;
}

.face {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.effect-back {
    transform: rotateY(0deg);
  }

.effect-front {
    transform: rotateY(-180deg);
}

.front {
    display: initial;
    width: 100px;
    height: 100px;
}

.back {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
    width: 0px;
    height: 0px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.004em;
    }

    .game-area {
        margin: 47px, 32.5%;
    }
}