@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #75B79E;
    text-transform: uppercase;
    margin: 40px 0 47px;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    font-weight: 700;
    cursor: default;
}

.game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 99px 153px 105px;
}

.clock {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 90px;
    height: 70px;
}

.show-clock {
    background-color: #75B79E;
    color: #EEF9BF;
    font-size: 40px;    
    text-align: center;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

.clock span {
    font-size: 20px;
}

.timer {
    background-color: #3A6B58;
    color: #EEF9BF;
    border-radius: 5px 5px 0 0;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-clicking {
    pointer-events: none;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 0 17px 34px;
}

.face {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.effect-back {
    transform: rotateY(0deg);
  }

.effect-front {
    transform: rotateY(-180deg);
}

.front {
    display: initial;
    width: 100px;
    height: 100px;
}

.back {
    width: 100px;
    height: 100px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.004em;
    }

    .game-area {
        margin: 47px, 32.5%;
    }
}